.App {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-self: start;
  justify-content: flex-start;
  background-color: #7f8492;
}

/* Mobile styles */
@media screen and (min-width: 320px) {
  .Heading {
    font-size: 240%;
    font-weight: bold;
    width: 100%;
    -webkit-text-stroke: 1.5px black;
    border-radius: 5px;
    margin-top: 1%;
  }
}

/* Tablet styles */
@media screen and (min-width: 760px) {
  .Heading {
    font-size: 340%;
    font-weight: bold;
    width: 100%;
    -webkit-text-stroke: 1.5px black;
    border-radius: 5px;
    margin-top: 1%;
  }
}
