/* Mobile styles */
@media screen and (min-width: 320px) {
  .contactList {
    display: flex;
    flex-direction: column;
    width: 99.9%;
    overflow: auto;
  }

  .contacts {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #708090;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #282c34;
  }

  .contact {
    display: flex;
    width: 100%;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    font-size: 110%;
  }

  .name {
    font-weight: bold;
    align-items: flex-start;
    text-align: start;
    margin-top: 7%;
  }

  .email {
    font-weight: bold;
    text-align: start;
  }

  .initials {
    background: #708090;
    border-radius: 50%;
    height: 58px;
    width: 50px;
    border: 2px solid #2e343a;
    padding: 2%;
    margin-left: 2%;
    margin-right: 2%;
  }

  .initials-img {
    height: 50px;
  }

  .initials-text {
    margin-top: 10px;
    font-size: 160%;
  }

  .check {
    margin-right: 2%;
  }
}

/* Tablet styles */
@media screen and (min-width: 760px) {
  .contactList {
    display: flex;
    flex-direction: column;
    width: 99.9%;
    overflow: auto;
  }

  .contacts {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #708090;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #282c34;
  }

  .contact {
    display: flex;
    width: 100%;
  }

  .contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 140%;
    width: 82%;
  }

  .name {
    font-weight: bold;
    align-items: flex-start;
    text-align: start;
    margin-top: 3%;
  }

  .email {
    font-weight: bold;
    text-align: start;
    margin-top: 3%;
  }

  .initials {
    background: #708090;
    border-radius: 50%;
    height: 58px;
    width: 50px;
    border: 2px solid #2e343a;
    padding: 1%;
    margin-left: 2%;
    margin-right: 2%;
  }

  .initials-img {
    height: 50px;
  }

  .initials-text {
    margin-top: 10px;
    font-size: 160%;
  }

  .check {
    margin-right: 2%;
  }
}

/* Desktop styles */
@media screen and (min-width: 1000px) {
  .contactList {
    display: flex;
    flex-direction: column;
    width: 99.9%;
    overflow: auto;
  }

  .contacts {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #708090;
    background-color: #282c34;
  }

  .contact {
    display: flex;
    width: 100%;
  }

  .contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 180%;
    width: 82%;
  }

  .name {
    font-weight: bold;
    align-items: flex-start;
    text-align: start;
    margin-top: 1.5%;
  }

  .email {
    font-weight: bold;
    text-align: start;
    margin-top: 1.5%;
  }

  .initials {
    background: #708090;
    border-radius: 50%;
    height: 58px;
    width: 50px;
    border: 2px solid #2e343a;
    padding: 1%;
    margin-left: 2%;
    margin-right: 2%;
  }

  .initials-img {
    height: 50px;
  }

  .initials-text {
    margin-top: 10px;
    font-size: 160%;
  }

  .check {
    margin-right: 2%;
  }
}
